*{
	 box-sizing: border-box;
}
.col-1{width: 8.33%}
.col-2{width: 16.66%}
.col-3{width: 25%}
.col-4{width: 33.33%}
.col-5{width: 41.66%}
.col-6{width: 50%}
.col-7{width: 58.33%}
.col-8{width: 66.66%}
.col-9{width: 75%}
.col-10{width: 83.33%}
.col-11{width: 91.66%}
.col-12{width: 100%}

[class*='col-']{
    float: left;
   

}
.top-header{
    border: 6px solid lightcyan ;
}
.top1-header{
   border:30px solid darkgray;
}
.top-header-height{
    height:30px;
}
.content{
    height: 28px;
    background-color: salmon;
}
.h6{
    position: absolute;
    padding-bottom: 13px;
}
.header-height{
    height: 45px;
    background-color:lightcyan;
}
.content-height{
    float:left;
    padding-top: 10px;
    height: 346px;
    margin-top:7px;
    background-color: #6fffe1;
    box-shadow: 5px 5px 1px 2px salmon;
    
}
.sub-content-height{
    float:left;
    height: 100px;
    background-color:aquamarine;
    margin: 10px;
    border: salmon;

}
.footer-height{
    height: 80px;
    background-color:springgreen;
}

.container{
    width: 50%;
    margin: 5px 3px;
    height: auto;
}